{% extends 'base/base.html' %}
{% block title %}Confirmar Reserva {% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <h3 class="text-muted list-group">Retiro del Recurso Reservado de Forma Especifica</h3>
    <br>
	<h3> Para Confirmar el Retiro del Recurso, modifique el estado del recurso a: En Uso </h3>
    {{ form.estado_reserva }}
	<br>
    <hr>
    <button class="btn btn-danger" type="submit">Sí, confirmar</button>
	<a class= "btn btn-default" href="{% url 'reserva:lista_reserva_hoy' %}"> NO !</a>
</form>
{% endblock %}