{% extends 'base/base.html' %}
{% block title %}Nueva Reserva {% endblock %}
{% block content %}


<form class="form-horizontal" method="post"> {% csrf_token %}


<!--  -->
    <h3 class="text-muted list-group">Creación de Reserva</h3>

        <label for="profile">Usuario</label>
        <input id="profile" value="{{ user }}" name="profile">

    {{ form.as_p}}

<hr>
<div class="form-group">
        <label class="col-md-6 control-label" for="singlebutton"></label>
        <div class="col-md-4">
            <button class="btn btn-primary" name="guardar" type="submit">GUARDAR</button>
                <a class= "btn btn-default" href="{% url 'reserva:reserva_listar' %}">Cancelar</a>
        </div>
    </div>
                            {% if mensaje %}
								{% if mensaje == 'Reserva Agendada Exitosamente.' %}
									<div class="alert-success" role="alert">
									{{ mensaje }}
									</div>
								{% else %}
									<div class="alert-danger form-control" role="alert">
									{{ mensaje }}
									</div>
								{% endif %}
							{% endif %}
</form>

{% endblock %}
