{% extends 'base/base.html' %}
{% block title %}Lista de Prioridades {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Reservas Solicitadas Aceptadas</h3>

<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>ID Recurso</i></b></td>
    <td><b><i>Estado</i></b></td>
    <td><b><i>Fecha de Reserva</i></b></td>
    <td><b><i>Hora Inicio</i></b></td>
    <td><b><i>Hora Finalización</i></b></td>
     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if qlista %}
    {% for lista in qlista %}
<tr>
    <td>{{ lista.recurso_reservado}}</td>
    <td>{{ lista.estado_reserva }}</td>
    <td>{{ lista.fecha_reserva}}</td>
    <td>{{ lista.hora_inicio}}</td>
     <td>{{ lista.hora_fin}}</td>

</tr>
    {% endfor %}
    {% else %}
    <h3>No existen archivos disponibles de Reservas</h3>
    {% endif %}
</tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>


{% endblock%}