{% extends 'base/base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
 <div id="page-content-wrapper">
            <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

          </ul>
        </nav>
          <h1 >Recuperar Contraseña</h1>

      </div>
            <form method="post">
	         {% csrf_token %}
                <div class="form-group">
	                <label for="id_email">Correo:</label> {{ form.email }}
	                <input type="submit" value="Enviar"/>
                </div>
            </form>
        </div>
        <!-- /#page-content-wrapper -->
 </div>


{% endblock %}






