{% extends 'base/base.html' %}
{% block title %}Eliminar Rol {% endblock %}
{% block content %}


<form class="form-horizontal" method="post"> {% csrf_token %}



<div class="col-md-8">
    <label class="col-md-6 control-label" for="singlebutton"></label>
    <legend><b><i>Desea eliminar el Rol {{ object.name }}? Se perderá para siempre !</i></b></legend>
    <button class="btn btn-danger" type="submit">Sí, eliminar </button>
    <a class="btn btn-default" href="{% url 'rol:rol_listar' %}">Cancelar</a>
    </div>
</div>
    <br>
<hr>
</form>

{% endblock %}