{% extends 'base/base.html' %}

{% block title%} PoliMbae {% endblock%}

{% block content %}


<!-- Page Content -->
        <section id="event">
        <div class="bg-primary" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:60px;">
                      <h1 class="header-h">PoliMba'e</h1>
                      <p class="header-p">Sistema Gerenciador de Recursos</p>
                    </div>
                    <div class="col-md-8" style="padding-bottom:80px;">
                        <div class="item active ">
                          <div class="col-md-6 col-sm-6 left-images">
                         </div>
                         <div class="col-md-6 col-sm-6 details-text">
                          <rnsediv class="content-holder">
                              <hr>
                              <div class="content-holder">
                                  <h3>Modulo de Usuario</h3>
                                  <a class="btn btn-info btn-read-more" href="{% url 'usuarios:listaruser' %}">Listar Usuarios</a>
                                  <a class="btn btn-info btn-read-more" href="{% url 'usuarios:listaprofile' %}">Listar Cuentas a Activar</a>
                              </div>
                              <hr>
                             <div class="content-holder">
                              <h3>Modulo de Rol</h3>
                                 <h6>Rol:</h6>
                           <a class="btn btn-info btn-read-more" href="{% url 'rol:rol_crear' %}">Crear Rol</a>
                                 <a class="btn btn-info btn-read-more" href="{% url 'rol:rol_listar' %}">Listar Roles</a>
                                 <h6>Permiso:</h6>
                                 <a class="btn btn-info btn-read-more" href="{% url 'rol:permiso_rol_crear' %}">Crear Permiso</a>
                              <a class="btn btn-info btn-read-more" href="{% url 'rol:permiso_listar' %}">Listar Permisos</a>


                          </div>
                              <hr>
                              <div class="content-holder">

                            <h3>Modulo de Recurso</h3>
                                  <h6>Recurso:</h6>
                                  <a class="btn btn-info btn-read-more" href="{% url 'recurso_pr:recurso_pr_crear' %}">Crear Recurso</a>
                           <a class="btn btn-info btn-read-more" href="{% url 'recurso_pr:recurso_pr_listar' %}">Listar Recursos</a>
                                  <h6>Tipo de Recurso:</h6>
                              <a class="btn btn-info btn-read-more" href="{% url 'recurso_pr:recurso_pr_crear' %}">Crear Tipo Recurso</a>
                                  <a class="btn btn-info btn-read-more" href="{% url 'recurso_pr:recurso_pr_listar_tipo' %}">Listar Tipo Recurso</a>

                          </div>
                              <hr>
                               <div class="content-holder">
                            <h3>Modulo de Reserva</h3>
                                   <h6>Reserva General:</h6>
                           <a class="btn btn-info btn-read-more" href="{% url 'reserva:buscar_recurso' %}">Crear Reserva General</a>
                                   <a class="btn btn-info btn-read-more" href="{% url 'reserva:reserva_listar' %}">Reserva General</a>
                              <h6>Reserva Especifica:</h6>
                                   <a class="btn btn-info btn-read-more" href="{% url 'reserva:buscar_recurso_especifico' %}">Crear R. Especifica</a>
                                   <a class="btn btn-info btn-read-more" href="{% url 'reserva:reserva_especifica_listar' %}">Listar R. Especifica</a>
                          </div>
                              <hr>
                               <div class="content-holder">
                            <h3>Modulo de Mantenimiento</h3>
                           <a class="btn btn-info btn-read-more" href="{% url 'mantenimiento:mantenimiento_listar' %}">Mantenimiento</a>

                        </div>
                      </rnsediv>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </div>
    </section>

{% endblock %}