{% extends 'base/base.html' %}
{% block title %}Lista de Permisos {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Permisos </h3>
<table class="table table-bordered" id="datatable">
<thead>
<tr>
    <th><b><i>Id del Permiso</i></b></th>
    <th><b><i>Nombre del Permiso</i></b></th>


     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>

    {% if object_list %}
    {% for qpermiso in object_list %}
<tr>

    <td>{{ qpermiso.id }}</td>
    <td>{{ qpermiso.name }}</td>

    <td>
        <a class="btn btn-primary" href="{% url 'rol:modificar_permiso' qpermiso.id %}">Modificar</a>
        <a class="btn btn-danger" href="{% url 'rol:eliminar_permiso' qpermiso.id %}">Eliminar</a>


    </td>
</tr>
    {% endfor %}
    {% else %}

    <h3>No existen archivos disponibles de permisos</h3>

    {% endif %}
</tbody>
</table>


{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

    <script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
    <script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
    <script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [0, "asc"],
                dom:'frtip'
            });
        });
    </script>
{% endblock %}