{% extends 'base/base.html' %}
{% block title %}Modificar Permiso {% endblock %}
{% block content %}

<form class="form-horizontal" method="post"> {% csrf_token %}
    <h3 class="text-muted list-group">Modificación de Permiso</h3>
    <div class="form-group">
        <label class="col-md-4 control-label ">Nombre del Permiso</label>
        <div class="col-md-4">{{ form.permiso }}</div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label ">Activar Permiso</label>
        <div class="col-md-4"> {{ form.activo }}
        </div>
    </div>
    <hr>
     <div class="form-group">
        <label class="col-md-6 control-label" for="singlebutton"></label>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">GUARDAR</button>
                <a class= "btn btn-default" href="{% url 'rol:permiso_listar' %}">Cancelar</a>
        </div>
    </div>
</form>

{% endblock %}

