{% extends "base.html" %}

{% block title%} PoliMbae {% endblock%}

{% block body%}


     <div id="wrapper">
    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menú Principal
                    </a>
                </li>
                <li>
                    <a href="#">Usuarios</a>
                </li>
                <li>
                    <a href="#">Recursos</a>
                </li>
                <li>
                    <a href="#">Mantenimiento</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

              <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
              <li role="presentation"><a href="{% url 'moduser' %}">Volver</a></li>
            <li role="presentation"><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </nav>
        <h3 class="text-muted list-group">Creación de Usuarios</h3>
      </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="" class="" method="POST" >{% csrf_token %}
			<div class="form-group ">
                <div class="form-group ">
								<label for="cedula">Cedula</label>
								<input class="form-control" name="cedula" id="cedula" type="number"  required>
							</div>
								<label for="username">Username</label>
								<input class="form-control" name="username" id="username" type="text"  required>
							</div>
							<div class="form-group ">
								<label for="nombre">Nombre</label>
								<input class="form-control" name="nombre" id="nombre" type="text"  required>
							</div>
							<div class="form-group">
								<label for="apellido">Apellido</label>
								<input type="text" id="apellido" class="form-control" name= "apellido"  required>

							</div>
							<div class="form-group ">
								<label for="direccion">Dirección</label>
								<input class="form-control" name="direccion" id="direccion" type="text" >
							</div>
							<div class="form-group ">
								<label for="email">Email</label>
								<input class="form-control" name="email" id="email" type="email" required>
							</div>
                            <div class="form-group ">
								<label for="telefono">Teléfono</label>
								<input class="form-control" name="telefono" id="telefono" type="text" required>
							</div>
                            <div class="form-group">
                            <label for="option">Categoría</label>
                            <select class="form-control" name="categoria" id="option" >
                                    <option value="Institucional">Institucional</option>
                                    <option value="Funcionario">Funcionario</option>
                                    <option value="Titular">Titular</option>
                                    <option value="Adjunto">Adjunto</option>
                                    <option value="Asistente">Asistente</option>
                                    <option value="Encargado">Encargado de Cátedra</option>
                                    <option value="Auxiliar">Auxiliar</option>
                                    <option value="Alumno">Alumno</option>
                                </select>
                            </div>

							<div class="form-group">
								<label for="password" class="text-primary">Ingresar Contraseña</label>
								<input class="password-reset-link" id="password" name="password" type="password"  required>
							</div>
							<div class="form-group">
								<label for="password2" class="text-primary">Confirmar Contraseña</label>
								<input class="password-reset-link" id="password2" name="password2" type="password"  required>
							</div>
						{% if mensaje %}
                                {% if mensaje == 'Guardado exitoso' %}
                                    <div class="alert-success" role="alert">
                                    {{ mensaje }}
                                    </div>
                                {% else %}
                                    <div class="alert-danger form-control" role="alert">
                                    {{ mensaje }}
                                    </div>
                                {% endif %}
                        {% endif %}

                        <button class="btn bg bottom-left" >Guardar</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        </div>
{% endblock %}

