{% extends "base/base.html" %}

{% block title%} PoliMbae {% endblock%}

{% block content%}


<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

          </ul>
        </nav>
        <h3 class="text-muted list-group">Cambiar Contraseña</h3>
      </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="" class="" method="POST" >{% csrf_token %}
                            <div class="form-group">
                                <label for="passactual" >Contraseña actual</label>
                            <input type="password"  class="form-control " name= "passactual" id="passactual" required >
							{% if message_error1 %}
								<div class="alert-danger form-control" role="alert">
									{{ message_error1 }}
								</div>
							{% endif %}
                            </div>
							<div class="form-group">
                                <label for="password1" >Contraseña Nueva </label>
							    <input type="password" class="password-reset-link form-group" id= "password1" name ="password1"  required>
                            </div>
							<div class="form-group">
                                <label for="password2" >Confirmar Contraseña </label>
							    <input type="password" class="password-reset-link form-group" id="password2" name ="password2"  required>
							{% if message_error2 %}
								<div class="alert-danger form-control" role="alert">
									{{ message_error2 }}
								</div>
							{% endif %}
                            </div>

                            <div class="form-group">
							<button class="btn bg bottom-left" > Guardar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        </div>
{% endblock %}

