{% extends 'base/base.html' %}


{% block title%} Listar Categoria {% endblock%}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Categoria</td>
			<td>Prioridad</td>
            <td>Operacion</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for categoria in object_list %}

		<tr>
            <td>{{ categoria.nombre }}</td>
			<td>{{ categoria.prioridad }}</td>
            <td><a class="btn btn-primary" href="{% url 'usuarios:eliminar_categoria' categoria.id %}">Eliminar</a></td>
		</tr>
		{% endfor %}


		{% else %}
		<h1>No hay registros de Categorias</h1>
		{% endif %}
	</tbody>

</table>
    <a class="btn btn-primary" href="{% url 'usuarios:crear_categoria' %}">Volver</a>

{% endblock %}