{% extends 'base/base.html' %}

{% block title%} Listar Usuarios {% endblock%}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Username</td>
            <td>Operacion</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for usuario in object_list %}
		<tr>
            <td>{{ usuario.user.id }}</td>
			<td>{{ usuario.user.first_name }}</td>
            <td>{{  usuario.user.username}}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'usuarios:modificarusuario' usuario.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'usuarios:eliminarusuario' usuario.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de usuarios</h1>
		{% endif %}
	</tbody>
</table>

{% endblock %}