{% extends "base/base.html" %}

{% block title %} Modificar Usuario {% endblock %}

{% block content %}


<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">

        <h3 class="text-muted list-group">Modificación de Datos de Usuario</h3>
      </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="" class="" method="POST" > {% csrf_token %}
                           {{ form2.as_p }}
                            {{ form.as_p }}
                             <div class="col-md-8 col-md-offset-4">
			                    <div class="form-group">
				                    <button class="btn btn-primary" type="submit">GUARDAR</button>
                                    <a class="btn btn-default" href="{% url 'usuarios:listaruser'  %}">CANCELAR</a>
                                </div>
                        </div>

                        </form>

                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#page-content-wrapper -->
{% endblock %}
