{% extends 'base/base.html' %}
{% block title %}Lista Solicitudes{% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Solicitudes a Confirmar</h3>

<table class="table table-bordered" id="datatable">
<thead>
<tr>
    <th><b><i>User</i></b></th>
    <th><b><i>Categoria</i></b></th>
    <th><b><i>Tipo de Recurso</i></b></th>
    <th><b><i> Recurso</i></b></th>
    <th><b><i>Fecha de Reserva</i></b></th>
    <th><b><i>Hora Inicio</i></b></th>
    <th><b><i>Hora Finalización</i></b></th>
     <th><b><i>Acciones</i></b></th>
</tr>
</thead>
<tbody>

    {% if solicitud %}
    {% for s in solicitud %}

<tr>
    <td>{{ s.usuario.user.username}}</td>
    <td>{{ s.usuario.categoria}}</td>
    <td>{{ s.recurso.tipo_id.nombre_recurso }}</td>
    <td>{{ s.recurso.descripcion }}</td>
    <td>{{ s.fecha_reserva}}</td>
    <td>{{ s.hora_inicio}}</td>
     <td>{{s.hora_fin}}</td>
    <td>
        <a class="btn btn-primary" href="{% url 'reserva_new:solicitud_confirmar' s.solicitud_id %}">Confirmar</a>
        <a class="btn btn-danger" href="{% url 'reserva_new:eliminar_solicitud' s.solicitud_id %}">Rechazar</a>
    </td>
</tr>

    {% endfor %}
    {% else %}
    <h3>No hay solicitudes para confirmar</h3>
    {% endif %}
</tbody>
</table>


{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment( 'YYYY-MM-D' );
            $.fn.dataTable.moment( 'HH:mm' );
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [[4, "desc"],[ 5, "desc" ]],
                dom:'frtip'

            });
        });
    </script>
{% endblock %}