{% extends 'base/base.html' %}
{% block title %}Lista de Reservas User {% endblock %}
{% block content %}
    <h3 class="text-muted list-group">Lista de Reservas y Solicitudes Pendientes</h3>

<table class="table table-bordered" id="datatable">
<thead>
<tr>
    <th><b><i>User</i></b></th>
    <th><b><i>Tipo de Recurso</i></b></th>
    <th><b><i> Recurso</i></b></th>
    <th><b><i>Fecha de Reserva</i></b></th>
    <th><b><i>Hora Inicio</i></b></th>
    <th><b><i>Hora Finalización</i></b></th>
    <th><b><i>Estado Reserva</i></b></th>
    <th><b><i>Operacion</i></b></th>

</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if not reserva and not solicitud %}
        <h3>No existen solicitudes ni reservas</h3>
    {% else %}
    {% for r in reserva %}
    {% if r.usuario.user == user and r.estado_reserva != 'CANCELADA' and r.estado_reserva != 'FINALIZADA'%}

<tr>
    <td>{{ r.usuario.user.username}}</td>
    <td>{{ r.recurso_reservado.tipo_id.nombre_recurso }}</td>
    <td>{{ r.recurso_reservado.descripcion }}</td>
    <td>{{ r.fecha_reserva}}</td>
    <td>{{ r.hora_inicio}}</td>
     <td>{{r.hora_fin}}</td>
    <td>{{r.estado_reserva}}</td>
    <td>
        <a class="btn btn-danger" href="{% url 'reserva_new:cancelar_mi_reserva' r.reserva_id %}">Cancelar Reserva</a>
    </td>
</tr>

    {% endif %}
    {% endfor %}

    {% for s in solicitud %}
    {% if s.usuario.user == user %}

<tr>
    <td>{{ s.usuario.user.username}}</td>
    <td>{{ s.recurso.tipo_id.nombre_recurso }}</td>
    <td>{{ s.recurso.descripcion }}</td>
    <td>{{ s.fecha_reserva}}</td>
    <td>{{ s.hora_inicio}}</td>
     <td>{{s.hora_fin}}</td>
    <td>{{ "PENDIENTE" }}</td>
    <td>
        <a class="btn btn-danger" href="{% url 'reserva_new:eliminar_mi_solicitud' s.solicitud_id %}">Eliminar Solicitud</a>
    </td>
</tr>
    {% endif %}
    {% endfor %}

{% endif %}
</tbody>
</table>

{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment( 'YYYY-MM-D' );
            $.fn.dataTable.moment( 'HH:mm' );
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [[4, "desc"],[ 5, "desc" ]],
                dom:'frtip'

            });
        });
    </script>
{% endblock %}