{% extends 'base/base.html' %}
{% block title %}Lista de Reservas {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Reservas</h3>

<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>User</i></b></td>
    <td><b><i>Categoria</i></b></td>
    <td><b><i>Tipo de Recurso</i></b></td>
    <td><b><i> Recurso</i></b></td>
    <td><b><i>Fecha de Reserva</i></b></td>
    <td><b><i>Hora Inicio</i></b></td>
    <td><b><i>Hora Finalización</i></b></td>
    <td><b><i>Estado Reserva</i></b></td>
     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if reserva %}
    {% for r in reserva %}


<tr>
    <td>{{ r.usuario.user.username}}</td>
    <td>{{ r.usuario.categoria}}</td>
    <td>{{ r.recurso_reservado.tipo_id.nombre_recurso }}</td>
    <td>{{ r.recurso_reservado.descripcion }}</td>
    <td>{{ r.fecha_reserva}}</td>
    <td>{{ r.hora_inicio}}</td>
     <td>{{r.hora_fin}}</td>
    <td>{{r.estado_reserva}}</td>
    <td>
        {% if r.estado_reserva == 'CONFIRMADA' %}
        <a class="btn btn-primary" href="{% url 'reserva_new:entregar_recurso' r.reserva_id %}">Entregar Recurso</a>
        {% elif r.estado_reserva == 'EN CURSO'%}
        <a class="btn btn-primary" href="{% url 'reserva_new:entregar_recurso' r.reserva_id %}">Devuelto</a>
        {% endif %}
        <a class="btn btn-danger" href="#">Cancelar</a>
    </td>
</tr>

    {% endfor %}
    {% else %}
    <h3>No existen solicitudes de reservas</h3>
    {% endif %}
</tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>


{% endblock%}