{% extends 'base/base.html' %}
{% block title %}Lista de Reservas {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Reservas</h3>

<table class="table table-bordered" id="datatable">
<thead>
<tr>
    <th><b><i>User</i></b></th>
    <th><b><i>Categoria</i></b></th>
    <th><b><i>Tipo de Recurso</i></b></th>
    <th><b><i> Recurso</i></b></th>
    <th><b><i>Fecha de Reserva</i></b></th>
    <th><b><i>Hora Inicio</i></b></th>
    <th><b><i>Hora Finalización</i></b></th>
    <th><b><i>Estado Reserva</i></b></th>
     <th><b><i>Acciones</i></b></th>
</tr>
</thead>
<tbody>
    {% if reserva %}
    {% for r in reserva %}
    {% if r.estado_reserva != 'CANCELADA' and r.estado_reserva != 'FINALIZADA'%}

<tr>
    <td>{{ r.usuario.user.username}}</td>
    <td>{{ r.usuario.categoria}}</td>
    <td>{{ r.recurso_reservado.tipo_id.nombre_recurso }}</td>
    <td>{{ r.recurso_reservado.descripcion }}</td>
    <td>{{ r.fecha_reserva}}</td>
    <td>{{ r.hora_inicio}}</td>
     <td>{{r.hora_fin}}</td>
    <td>{{r.estado_reserva}}</td>
    <td>
        {% if r.estado_reserva == 'CONFIRMADA' and r.fecha_reserva == hoy and r.hora_inicio <= now and r.hora_fin > now %}
        <a class="btn btn-primary btn-sm" href="{% url 'reserva_new:entregar_recurso' r.reserva_id %}">Entregar Recurso</a>
        {% elif r.estado_reserva == 'EN CURSO'%}
        <a class="btn btn-primary btn-sm" href="{% url 'reserva_new:devolver_recurso' r.reserva_id %}">Marcar Devuelto</a>
        {% endif %}
        {% if r.estado_reserva == 'CONFIRMADA' and r.fecha_reserva >= hoy and r.hora_fin > now %}
        <a class="btn btn-primary btn-sm" href="{% url 'reserva_new:modificar_reserva' r.reserva_id %}">Modificar</a>
        {% endif %}
        <a class="btn btn-danger btn-sm" href="{% url 'reserva_new:cancelar_reserva' r.reserva_id %}">Cancelar</a>


    </td>
</tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <h3>No existen solicitudes de reservas</h3>
    {% endif %}
</tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>

<div class="form-group">
{% if mensaje %}
    <div class="alert-danger form-control" role="alert">
        {{ mensaje }}</div>

{% endif %}
</div>

{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment( 'YYYY-MM-D' );
            $.fn.dataTable.moment( 'HH:mm' );
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [[4, "desc"],[ 5, "desc" ]],
                dom:'frtip'

            });
        });
    </script>
{% endblock %}