{% extends 'base/base.html' %}
{% block title %}Lista Solicitudes{% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Solicitudes a Confirmar</h3>

<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>User</i></b></td>
    <td><b><i>Categoria</i></b></td>
    <td><b><i>Tipo de Recurso</i></b></td>
    <td><b><i> Recurso</i></b></td>
    <td><b><i>Fecha de Reserva</i></b></td>
    <td><b><i>Hora Inicio</i></b></td>
    <td><b><i>Hora Finalización</i></b></td>
     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if solicitud %}
    {% for s in solicitud %}

<tr>
    <td>{{ s.usuario.user.username}}</td>
    <td>{{ s.usuario.categoria}}</td>
    <td>{{ s.recurso.tipo_id.nombre_recurso }}</td>
    <td>{{ s.recurso.descripcion }}</td>
    <td>{{ s.fecha_reserva}}</td>
    <td>{{ s.hora_inicio}}</td>
     <td>{{s.hora_fin}}</td>
    <td>
        <a class="btn btn-primary" href="{% url 'reserva_new:solicitud_confirmar' s.solicitud_id %}">Confirmar</a>
        <a class="btn btn-danger" href="{% url 'reserva_new:eliminar_solicitud' s.solicitud_id %}">Rechazar</a>
    </td>
</tr>

    {% endfor %}
    {% else %}
    <h3>No hay solicitudes para confirmar</h3>
    {% endif %}
</tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>


{% endblock%}