{% extends 'base/base.html' %}
{% block title %}Modificar Reserva {% endblock %}
{% block content %}


<form class="form-horizontal" method="post"> {% csrf_token %}
{{ form.estado_reserva.as_hidden }}

<!--  -->
    <h3 class="text-muted list-group">Modificar Reserva</h3>

    <div class="form-group">
        <label for="profile">Usuario</label>
        {{ form.usuario }}
        {% if form.usuario.errors %}

            <p>Error</p>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input class="form-control"  value="{{ tipo }}" id="tipo" readonly="readonly"/>
    </div>
    <div class="form-group">
        <label for="{{ form.recurso_reservado.Recurso }}">Recurso</label>
        {{ form.recurso_reservado }}
    </div>
    <div class="form-group">
        <label for="{{ form.fecha_reserva.Fecha }}">Fecha</label>
        {{ form.fecha_reserva }}
    </div>
    <div class="form-group">
        <label for="{{ form.hora_inicio.HoraInicio }}">Hora de Inicio</label>
        {{ form.hora_inicio}}
    </div>
    <div class="form-group">
        <label for="{{ form.hora_fin.HoraFin }}">Hora Finalizacion</label>
        {{ form.hora_fin }}
    </div>
<div class="form-group">
{% if mensaje %}
    <div class="alert-danger form-control" role="alert">
        {{ mensaje }}</div>

{% endif %}
</div>

<div class="col-md-8 col-md-offset-4">
    <div class="form-group">
        <button class="btn btn-primary" name="guardar" value="GUARDAR" type="submit" formnovalidate> GUARDAR</button>
        <a class= "btn btn-default" href="{% url 'reserva_new:reserva_listar' %}">Cancelar</a>
    </div>
</div>

</form>
{% endblock %}