{% extends "base.html" %}

{% block title%} PoliMbae {% endblock%}

{% block body%}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

          </ul>
        </nav>
        <h3 class="text-muted">PoliMba'e</h3>
      </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bienvenido <strong>{{ user }}</strong> a PoliMba'e</h1>
                        <p> Sistema Gestor de Recursos de la Facultad Politécnica  </p>
                        <p>Universidad Nacional de Asunción</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

  </div>


{% endblock %}