{% extends 'base/base.html' %}
{% block title %}Lista de Recursos {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Recursos Existentes</h3>

<table class="table table-bordered" id="datatable">
<thead>
<tr>

    <th><b><i>Nombre del Recurso</i></b></th>
    <th><b><i>Identificador del Recurso</i></b></th>
    <th><b><i>Estado</i></b></th>
     <th><b><i>Acciones</i></b></th>
</tr>
</thead>
<tbody>

    {% if object_list %}
    {% for qrecurso in object_list %}
<tr>

    <td>{{ qrecurso.tipo_id.nombre_recurso }}</td>
    <td>{{ qrecurso.descripcion }}</td>
    <td>{{ qrecurso.estado}}</td>
    <td>
        <a class="btn btn-primary" href="{% url 'recurso_pr:recurso_modificar' qrecurso.recurso_id %}">Modificar Recurso</a>
        <a class="btn btn-primary" href="{% url 'recurso_pr:caracteristica_listar' qrecurso.recurso_id %}">Lista de Caracteristicas</a>
    </td>
</tr>
    {% endfor %}
    {% else %}
    <h3>No existen archivos disponibles de Recursos</h3>
    {% endif %}
</tbody>
</table>

{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

    <script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
    <script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
    <script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [0, "desc"],
                dom:'Bfrtip',
                buttons: [
                    {
                        extend: 'pdf',
                        text: 'Reporte',
                        title:'Recursos',
                        exportOptions: {
                            columns:':not(:last-child)' //para que no aparezcan los botones
                        }
                    }
                ]

            });
        });
    </script>
{% endblock %}