{% extends 'base/base.html' %}
{% block title %}Lista de Tipo de Recurso {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Tipo de Recurso</h3>

<table class="table table-bordered" id="datatable">
<thead>
<tr>
    <td><b><i>ID Tipo Recurso</i></b></td>
    <td><b><i>Nombre del Tipo de Recurso</i></b></td>
    <td><b><i>Reservable</i></b></td>
     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>

    {% if object_list %}
    {% for qrecursopr in object_list %}
<tr>
    <td>{{ qrecursopr.tipo_id }}</td>
    <td>{{ qrecursopr.nombre_recurso }}</td>
    <td>{{ qrecursopr.reservable}}</td>
    <td>
        <a class="btn btn-primary" href="{% url 'recurso_pr:recurso_pr_modificar' qrecursopr.tipo_id %}">Modificar Tipo de Recurso</a>
    </td>
</tr>
    {% endfor %}
    {% else %}
    <h3>No existen archivos disponibles de Tipo de Recurso</h3>
    {% endif %}
</tbody>
</table>



{% endblock%}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                responsive: true,
                order: [0, "asc"],
                dom:'frtip'

            });
        });
    </script>
{% endblock %}