{% extends 'base/base.html' %}
{% block title %}Consulta Recurso {% endblock %}
{% block content %}

<h3 class="text-muted list-group">Consulta de Recursos</h3>
    <hr>
    <label aria-describedby=""> <h4> Ingrese el Nombre del Recurso para generar la busqueda</h4></label>


{% if error %}
        <p style="color: red;">Por favor introduzca un termino de busqueda.</p>
 {% endif %}

 <form action="/recurso/buscarecurso/" method="get">
        <input class="btn-warning" type="text" name="q">
        <input class="btn-warning" type="submit" value="Buscar">
    </form>
    <p>Usted estaba buscando: <strong>{{ query }}</strong></p>
    <hr>



<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>Id recurso</i></b></td>
    <td><b><i>Nombre del recurso</i></b></td>
    <td><b><i>Fecha de Mantenimiento</i></b></td>
    <td><b><i>Reservable</i></b></td>
    <td><b><i>Estado General</i></b></td>
</tr>
</thead>
<tbody>

{% if recursos %}
    <p>Recursos encontrados: {{ recursos|length }} Reserva{{ recursos|pluralize }}.</p>
    {% for recu in recursos %}
<tr>
    <td>{{ recu.recurso_id}}</td>
    <td>{{ recu.tipo_id.nombre_recurso}}</td>
    <td>{{ recu.tipo_id.fecha_mantenimiento}}</td>
    <td>{{ recu.tipo_id.reservable }}</td>
    <td>{{ recu.estado}}</td>
    <td>
    </td>
</tr>
    {% endfor %}
{% else %}
    <p><label class="text-warning">Ningun Recurso coincide con el criterio de busqueda.</label></p>
{% endif %}
</tbody>
</table>

{% endblock %}