{% extends 'base/base.html' %}
{% block title %}Crear Tipo de Recurso {% endblock %}
{% block content %}
    <form method="post"> {% csrf_token %}
        <h3 class="text-muted list-group">Creación de Tipo de Recurso </h3>

        {{ form_tiporecurso.as_p }}
        <hr>
        {{ form_crta.as_p }}

        <div class="form-group">
        <label class="col-md-6 control-label" for="singlebutton"></label>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">GUARDAR</button>
                <a class= "btn btn-default" href="{% url 'recurso:tiporecurso_listar' %}">Cancelar</a>
        </div>
        </div>
    </form>
{% endblock %}