{% extends 'base/base.html' %}
{% block title %}Lista Tipo de Recursos {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Tipo de Recursos Existentes</h3>
<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>Nombre del Recurso</i></b></td>
    <td><b><i>Reservable</i></b></td>
    <td><b><i>Fecha Mantenimiento Preventivo</i></b></td>
    <td><b><i>Caracteristica</i></b></td>
    <td><b><i>Activo</i></b></td>

     <td><b><i>Modificaciones Disponibles</i></b></td>
</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if object_list %}
    {% for qtipo in object_list %}
<tr>
    <td>{{ qtipo.nombre_recurso }}</td>
    <td>{{ qtipo.reservable }}</td>
    <td>{{ qtipo.fecha_mantenimiento}}</td>
    <td>{{ qtipo.ctra_id.nombre_caracteristica}}</td>
     <td>{{ qtipo.ctra_id.activo}}</td>
    <td>
        <a class="btn btn-primary" href="{% url 'recurso:tiporecurso_modificar' qtipo.tipo_id  %}">Tipo</a>
        <a class="btn btn-primary" href="{% url 'recurso:carcteristica_modificar' qtipo.ctra_id.ctra_id  %}">Caracteristica</a>

    </td>
</tr>
    {% endfor %}
    {% else %}
    <h3>No existen archivos disponibles de Tipo de Recurso</h3>
    {% endif %}
</tbody>
</table>

{% endblock%}