{% extends 'base/base.html' %}
{% block title %}Lista Tipo de Recursos {% endblock %}
{% block content %}

    <h3 class="text-muted list-group">Lista de Tipo de Recursos Existentes</h3>
<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>Nombre del Tipo de Recurso</i></b></td>
    <td><b><i>Reservable</i></b></td>
    <td><b><i>Fecha Mantenimiento Preventivo</i></b></td>

     <td><b><i>Acciones</i></b></td>
</tr>
</thead>
<tbody>
 <!--  Pregunta si exiten archivos traidos en el contexto roles creado en el views.
        roles: nombre del contexto en el diccionario enviado en el render
        qroles: es el query set del modelo Rolusuario de la base de datos
        -->
    {% if object_list %}
    {% for qtipo in object_list %}
<tr>
    <td>{{ qtipo.nombre_recurso }}</td>
    <td>{{ qtipo.reservable }}</td>
    <td>{{ qtipo.fecha_mantenimiento}}</td>

    <td>
        <a class="btn btn-primary" href="{% url 'recurso:tiporecurso_modificar' qtipo.tipo_id  %}">Modificar Tipo de Recurso</a>


    </td>
</tr>
    {% endfor %}
    {% else %}
    <h3>No existen archivos disponibles de Tipo de Recurso</h3>
    {% endif %}
</tbody>
</table>

    <ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>

{% endblock%}