{% extends 'base/base.html' %}
{% block title %}Busqueda Mantenimiento {% endblock %}
{% block content %}

<h3 class="text-muted list-group">Buscar Registros de Mantenimiento</h3>
    <hr>
    <label aria-describedby=""> <h4> Ingrese el Nombre del Recurso para generar la busqueda</h4></label>


{% if error %}
        <p style="color: red;">Por favor introduzca el nombre del Recurso.</p>
 {% endif %}

 <form action="/mantenimiento/buscar/" method="get">
        <input class="btn-warning" type="text" name="q">
        <input class="btn-warning" type="submit" value="Buscar">
    </form>
    <p>Usted estaba buscando: <strong>{{ query }}</strong></p>
    <hr>



<table class="table table-bordered">
<thead>
<tr>
    <td><b><i>Identificador del Recurso</i></b></td>
    <td><b><i>Nombre del Recurso</i></b></td>
    <td><b><i>Fecha de Entrega </i></b></td>
    <td><b><i>Fecha de Finalizacion</i></b></td>
    <td><b><i>Hora de Entrega</i></b></td>
    <td><b><i>Hora de Finalizacion</i></b></td>
    <td><b><i>Tipo</i></b></td>
</tr>
</thead>
<tbody>

{% if mant %}
    <p>Registros de mantenimiento encontrados sobre: {{ query }}</p>
    {% for m in mant %}
<tr>
    <td>{{ m.recurso.descripcion}}</td>
    <td>{{ m.tipo_recurso.nombre_recurso}}</td>
    <td>{{ m.fecha_entrega }}</td>
    <td>{{ m.fecha_fin }}</td>
    <td>{{m.hora_entrega}}</td>
    <td>{{ m.hora_fin }}</td>
    <td>{{ m.tipo }}</td>
</tr>
    {% endfor %}
{% else %}
    <p><label class="text-warning">Ningun Recurso coincide con el criterio de busqueda.</label></p>
{% endif %}
</tbody>
</table>

{% endblock %}
