{% extends 'base/base.html' %}
{% block title %}Listar Mantenimiento{% endblock %}
{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>

			<td>Nombre</td>
			<td>Identificador del Recurso</td>
            <td>Tipo de Mantenimiento</td>
            <td>Fecha Entrega</td>
            <td>Fecha Finalizacion</td>
            <td>Operaciones</td>
		</tr>

	</thead>
	<tbody>
		{% if mant %}
		{% for mantenimiento in mant %}
		<tr>

			<td>{{ mantenimiento.tipo_recurso }}</td>
            <td>{{ mantenimiento.recurso.descripcion }}</td>
            <td>{{ mantenimiento.tipo }}</td>
            <td>{{  mantenimiento.fecha_entrega}}</td>
            <td>{{  mantenimiento.fecha_fin}}</td>
			<td>

                {% if mantenimiento.estado_mant == 'PENDIENTE' and mantenimiento.fecha_entrega == hoy and mantenimiento.hora_entrega <= now  %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:entregar' mantenimiento.id %}">Entregar</a>
                {% elif mantenimiento.estado_mant == 'EN CURSO'%}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:devolver' mantenimiento.id %}">Marcar Devuelto</a>
                {% endif %}
                {% if mantenimiento.estado_mant == 'PENDIENTE' and mantenimiento.fecha_entrega >= hoy  %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:modificar_mantenimiento' mantenimiento.id %}">Modificar</a>
                {% endif %}
                {% if mantenimiento.estado_mant != 'EN CURSO' and mantenimiento.estado_mant != 'FINALIZADO' %}
                    <a class="btn btn-danger btn-sm" href="{% url 'mantenimiento:eliminar_mantenimiento' mantenimiento.id %}">Cancelar</a>
                {% endif %}
                {% if mantenimiento.estado_mant == 'FINALIZADO' %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:detalle' mantenimiento.id %}">Detalle</a>
                {% endif %}

			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de Mantenimiento</h1>
		{% endif %}
	</tbody>
</table>

{% endblock %}

