{% extends 'base/base.html' %}
{% block title %}Listar Mantenimiento{% endblock %}
{% block content %}

<table class="table table-bordered" id="datatable">
	<thead>
		<tr>

			<th>Nombre</th>
			<th>Identificador del Recurso</th>
            <th>Tipo de Mantenimiento</th>
            <th>Fecha Entrega</th>
            <th>Fecha Finalizacion</th>
            <th>Operaciones</th>
		</tr>

	</thead>
	<tbody>
		{% if mant %}
		{% for mantenimiento in mant %}
		<tr>

			<td>{{ mantenimiento.tipo_recurso }}</td>
            <td>{{ mantenimiento.recurso.descripcion }}</td>
            <td>{{ mantenimiento.tipo }}</td>
            <td>{{  mantenimiento.fecha_entrega}}</td>
            <td>{{  mantenimiento.fecha_fin}}</td>
			<td>

                {% if mantenimiento.estado_mant == 'PENDIENTE' and mantenimiento.fecha_entrega == hoy and mantenimiento.hora_entrega <= now  %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:entregar' mantenimiento.id %}">Entregar</a>
                {% elif mantenimiento.estado_mant == 'EN CURSO'%}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:devolver' mantenimiento.id %}">Marcar Devuelto</a>
                {% endif %}
                {% if mantenimiento.estado_mant == 'PENDIENTE' and mantenimiento.fecha_entrega >= hoy  %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:modificar_mantenimiento' mantenimiento.id %}">Modificar</a>
                {% endif %}
                {% if mantenimiento.estado_mant != 'EN CURSO' and mantenimiento.estado_mant != 'FINALIZADO' %}
                    <a class="btn btn-danger btn-sm" href="{% url 'mantenimiento:eliminar_mantenimiento' mantenimiento.id %}">Cancelar</a>
                {% endif %}
                {% if mantenimiento.estado_mant == 'FINALIZADO' %}
                    <a class="btn btn-primary btn-sm" href="{% url 'mantenimiento:detalle' mantenimiento.id %}">Detalle</a>
                {% endif %}

			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de Mantenimiento</h1>
		{% endif %}
	</tbody>
</table>

{% endblock %}
{% block extrajs %}
<!-- DataTables JavaScript -->
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/vendor/datatables-buttons/buttons.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-buttons/dataTables.buttons.min.js"></script>

	<script src="/static/vendor/datatables-buttons/jszip.min.js"></script>
	<script src="/static/vendor/datatables-buttons/pdfmake.min.js"></script>
	<script src="/static/vendor/datatables-buttons/vfs_fonts.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.html5.min.js"></script>
	<script src="/static/vendor/datatables-buttons/buttons.print.min.js"></script>

	<script src="/static/vendor/datatables-plugins/moment.min.js"></script>
	<script src="/static/vendor/datatables-plugins/datetime-moment.js"></script>
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment( 'YYYY-MM-D' );
            $.fn.dataTable.moment( 'HH:mm' );
            $('#datatable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todo"]],
                order: [[4, "desc"],[ 5, "desc" ]],
                dom:'frtip'

            });
        });
    </script>
{% endblock %}
