{% extends "base.html" %}

{% block title%} PoliMbae {% endblock%}

{% block body%}


     <div id="wrapper">
    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menú Principal
                    </a>
                </li>
                <li>
                    <a href="{% url 'crearrec' %}">Crear Recurso</a>
                </li>

                <li>
                    <a href="#">Modificar Recurso</a>
                </li>

                <li>
                    <a href="#">Eliminar Recurso</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


<!-- Page Content -->

     <div id="page-content-wrapper">
            <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="#menu-toggle"  id="menu-toggle">Menú</a></li>
              <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'logout' %}">Salir</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">PoliMba'e</h3>
      </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bienvenido al modulo de Gestión de Recursos</h1>
                        <p>  </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

  </div>
     </div>
{% endblock %}